@{
    ViewData["Title"] = "Home Page";
    ViewBag.PageTitle = "Dashboard";
    Layout = "_Layout";
}

<style>
    .table-data {
        overflow-y: auto;
        height: 67vh;
    }

        .table-data thead tr {
            position: sticky;
            top: 0;
        }
</style>

<section class="section dashboard">
    <div class="row">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <form class="col-md-8 d-flex" role="search" asp-area="" asp-controller="Home" asp-action="StudentSearch">
                    <input class="form-control me-1" type="text" placeholder="Search by student name" aria-label="Search" name="StudentName">
                    <input class="form-control me-1" type="text" placeholder="Search by branch name" aria-label="Search" name="BranchName">
                    <input class="form-control me-1" type="text" placeholder="Search by city name" aria-label="Search" name="CityName">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <form method="post" class="col-md-3 my-2 text-end" asp-area="" asp-controller="Home" asp-action="StudentAddEdit">
                    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-plus"></i>New Student</button>
                </form>
            </div>
        </nav>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title fw-bold">Students</h4>
                            <div class="table-data">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="bg-light">
                                            <th scope="col">Roll No.</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Branch</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (System.Data.DataRow data in Model.Rows)
                                        {
                                            <tr class="">
                                                <th>@data["StudentID"].ToString()</th>
                                                <th>
                                                    <a asp-area="" asp-controller="Home" asp-action="StudentProfileDetails" asp-route-StudentID="@data["StudentID"]" class="text-primary">@data["StudentName"].ToString()</a>
                                                </th>
                                                <td>@data["BranchName"].ToString() (@data["BranchCode"].ToString())</td>
                                                <td>@data["CityName"].ToString()</td>
                                                <td>
                                                    <form method="post" asp-area="" asp-controller="Home" asp-action="StudentDelete" asp-route-StudentID="@data["StudentID"].ToString()">
                                                        <button type="submit" class="btn btn-outline-danger mx-1"><i class="bi bi-trash3-fill"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
