@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Countries";
}

@model System.Data.DataTable;

<style>
    .table-data {
        overflow-y: auto;
        height: 71vh;
    }

        .table-data thead tr {
            position: sticky;
            top: 0;
        }
</style>

<div class="">
    <nav class="navbar bg-body-tertiary mb-2">
        <div class="container-fluid">
            <form class="d-flex w-50" role="search" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountrySearch">
                <input class="form-control me-2" type="text" placeholder="Search by country name" aria-label="Search" name="CountryName">
                <input class="form-control me-2" type="text" placeholder="Search by country code" aria-label="Search" name="CountryCode">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAddEdit">
                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-plus"></i>New Country</button>
            </form>
        </div>
    </nav>

    <div class="card">
        <div class="table-data">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary fixed">
                        <th scope="col">Country Name</th>
                        <th scope="col">Country Code</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Modified Date</th>
                        <th scope="col" colspan="2" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow data in Model.Rows)
                    {
                        <tr>
                            <td>@data["CountryName"]</td>
                            <td>@data["CountryCode"]</td>
                            <td>@Convert.ToDateTime(data["Created"]).ToString("dd MMM, yyyy")</td>
                            <td>@data["Modified"]</td>
                            <td class="text-end">
                                <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAddEdit" asp-route-CountryID="@data["CountryID"]">
                                    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i></button>
                                </form>
                            </td>
                            <td>
                                <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryDelete" asp-route-CountryID="@data["CountryID"]">
                                    @*<input type="hidden" name="CountryID" value="@Convert.ToInt32(data["CountryID"])" />*@
                                    <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>